<h1>SIMPLE PIPE</h1>
<p>{{date | date}}</p>
<p>{{decimal | number: '3.2-4'}}</p>

<div class="container">
    <h1>CLASS PIPE E CHIAMATA REST</h1>
<!-- [ngClass]="{'male': user.id % 2 === 0, 'female': user.id % 2 === 1}" -->
<div [ngClass]="getCSS(user)" [style.fontSize.px]="user.id*2" *ngFor="let user of users; let i=index" >
    {{i}}. {{user.id}} - {{user.name|pipeTruncate:12}} - {{user.username}} - {{user.email}}
    <button style="margin:10px" (click)="delete(user)">DELETE</button>
</div>
</div>

<br>
<br>

<app-add-user></app-add-user>

<br>