<app-first-component></app-first-component>
<button (click)="DoVisible()">Toggle</button><br>
<h1 *ngIf="visible" (click)="ClickString($event)">My app</h1>
<input type="text" (keydown.enter)="pressHandler($event)"><br>
<div *ngIf="visible"><!-- non si possono mettere due direttive nello stesso tag-->
    <li *ngFor="let user of users">
        {{user}}
    </li>
</div>
<button [disabled]='url' (click)="Loadimg()">carica</button><br>
<button [disabled]='!url' (click)="Unloadimg()">elimina</button><br>
<img *ngIf="url" src={{url}} alt="ciao ciao">


<router-outlet></router-outlet>