<div class="container">
    <h1>CONTENT PROJECTION</h1>
    <app-card title="Test ng content">
        <input type="text">
        <input type="text">
        <input type="text">
    </app-card>
    <app-card title="2 Test ng content">
        <div class="row">
            <div class="col">
                <app-card title="Annidamento">
                    <p>sono annidato</p>
                </app-card>
            </div>
            <div class="col">
                <app-card title="input annidato">
                    <input type="text">
                </app-card>
            </div>
        </div>
    </app-card>
</div>

<br>
<app-first-component></app-first-component>
<br>
<button (click)="DoVisible()">Toggle</button><br>
<h1 *ngIf="visible" (click)="ClickString($event)">My app</h1>
<input type="text" (keydown.enter)="pressHandler($event)"><br>
<div *ngIf="visible"><!-- non si possono mettere due direttive nello stesso tag-->
    <li *ngFor="let user of users">
        {{user}}
    </li>
</div>
<br>
<br>
<button [disabled]='url' (click)="Loadimg()">carica</button>
<button [disabled]='!url' (click)="Unloadimg()" style="margin:10px">elimina</button><br>
<img *ngIf="url" src={{url}} alt="ciao ciao">


<router-outlet></router-outlet>