<br>
<h1>Second routing</h1>
<app-nav></app-nav>
<router-outlet></router-outlet>

<!-- <div class="container">
    <p>-----------------------------------------------</p>
    <h1>First routing</h1>
    <button [routerLink]="['/card']" >CARD</button>
    <button [routerLink]="['/navbar']">NAVBAR</button>
    <router-outlet></router-outlet>
    <p>-----------------------------------------------</p>
</div> -->


<!-- <div class="container">
    <p>digita il nome della citta</p>
    <input placeholder="add a city..." type="text" (keydown.enter)="insertCity($event)"><br>
    <app-meteo [city]=city></app-meteo>
</div> -->

<div class="container">
    <app-nav-bar [nations]="nations" (tabClick)="OpenWikiNation($event)"></app-nav-bar>
</div>

<div class="container">
    <h1>CONTENT PROJECTION</h1>
    <app-card title="Test ng content">
        <input type="text">
        <input type="text">
        <input type="text">
    </app-card>
    <app-card title="2 Test ng content">
        <div class="row">
            <div class="col">
                <app-card [title]="nationClicked?.name">
                    <p>sono annidato</p>
                </app-card>
            </div>
            <div class="col">
                <app-card title="input annidato">
                    <input type="text">
                </app-card>
            </div>
        </div>
    </app-card>
</div>

<br>
<app-first-component></app-first-component>
<br>
<button (click)="DoVisible()">Toggle</button><br>
<h1 *ngIf="visible" (click)="ClickString($event)">My app</h1>
<input type="text" (keydown.enter)="pressHandler($event)"><br>
<div *ngIf="visible">
    <!-- non si possono mettere due direttive nello stesso tag-->
    <li *ngFor="let user of users">
        {{user}}
    </li>
</div>
<br>
<br>
<button [disabled]='url' (click)="Loadimg()">carica</button>
<button [disabled]='!url' (click)="Unloadimg()" style="margin:10px">elimina</button><br>
<img *ngIf="url" src={{url}} alt="ciao ciao">


